version: "3.8"

services:
  database:
    image: mongo:latest
    restart: unless-stopped
    volumes:
      - ./database/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    ports:
      - "27017:27017"

  api:
    image: node:20-alpine
    working_dir: /app
    environment:
      - PORT=3000
      - CHOKIDAR_USEPOLLING=true
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm run dev"
    depends_on:
      - database
    volumes:
      - ./api:/app
      - ./common:/common
      - /app/node_modules

  front:
    image: node:20-alpine
    working_dir: /app
    environment:
      - PORT=5173
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev"
    depends_on:
      - api
    volumes:
      - ./app:/app
      - ./common:/common
      - /app/node_modules